@using Reader.ViewModels
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@model ReaderViewModel

@{
    ViewBag.Title = "Subscriptions";
}

<style>
    .feed-image-container {
        display: inline-block;
        width: 16px;
        height: 16px;
    }

        .feed-image-container img {
            width: 100%;
        }

    .feed-title {
        display: inline-block;
        width: calc(100% - 84px);
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        vertical-align: middle;
    }

    .feed-toolbar {
        margin-top: 5px;
    }

    .feed-add-form {
        margin-bottom: 30px;
    }

        .feed-add-form .feed-add-url {
            width: calc(100% - 45px);
            /* override responsive bootstrap for certain breakpoints */
            display: inline-block;
            max-width: none;
        }

    .feed-alert-container {
        position: fixed;
        top: 80px;
        right: 20px;
        z-index: 100;
        width: 320px;
    }

    th {
        white-space: nowrap;
    }

    tr.bold {
        font-weight: bold;
    }
</style>

<div id="readerApp">
    <h3>
        <button data-bind="click: toggleSelectingFeedInSmall" type="button" class="btn btn-default visible-xs-inline-block visible-sm-inline-block" title="Feeds">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </button>
        Subscriptions
    </h3>

    <div data-bind="visible: false" class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div style="display: none;" data-bind="visible: true" class="row">
        <div data-bind="css: { 'hidden-xs hidden-sm': !selectingFeedInSmall() }" class="col-md-4">
            <!-- subscriptions -->
            <ul data-bind="foreach: subscriptions" class="list-group">
                <li data-bind="click: $parent.selectedSubscription, css: { active: $data === $parent.selectedSubscription() }" class="list-group-item">
                    <!-- subscription properties -->
                    <span data-bind="text: unreadQuantity, visible: unreadQuantity" class="badge"></span>

                    <button data-bind="click: toggleEditMode, clickBubble: false" type="button" class=" btn btn-default btn-xs" title="Options">
                        <span data-bind="css: { 'glyphicon-option-vertical': !editMode(), 'glyphicon-option-horizontal': editMode }" class="glyphicon" aria-hidden="true"></span>
                    </button>

                    <span class="feed-image-container">
                        <img data-bind="attr: { src: imageUrl }" />
                    </span>
                    <span data-bind="html: title" class="feed-title">ALL</span>

                    <!-- subscription toolbar -->
                    <div data-bind="if: editMode()" class="feed-toolbar">
                        <button data-bind="click: refresh, clickBubble: false, enable: refresh.isEnabled" type="button" class="btn btn-default btn-xs" title="Refresh">
                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        </button>
                        <button data-bind="click: updateItemsAsRead, clickBubble: false, enable: updateItemsAsRead.isEnabled" type="button" class="btn btn-default btn-xs" title="Update all items as read">
                            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                        </button>
                        <span data-bind="if: !isSubscriptionAll">
                            <button data-bind="click: loadItems, clickBubble: false, enable: loadItems.isEnabled" type="button" class="btn btn-default btn-xs" title="Load more items">
                                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                            </button>
                            <button data-bind="click: remove, clickBubble: false, enable: remove.isEnabled" type="button" class="btn btn-danger btn-xs" title="Delete feed">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </li>
            </ul>

            <!-- add feed -->
            <div class="form-inline feed-add-form">
                <input data-bind="value: newFeedUrl, enable: addSubscription.isEnabled" type="text" class="form-control feed-add-url" placeholder="New feed URL" />
                <button data-bind="click: addSubscription, enable: addSubscription.isEnabled" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </div>
        </div>

        <div data-bind="with: selectedSubscription, css: { 'hidden-xs hidden-sm': selectingFeedInSmall }" class="col-md-8">
            <!-- selectes subscription -->
            <h4 data-bind="text: title" class="visible-xs-block visible-sm-block"></h4>
            <!-- items -->
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th data-bind="visible: isSubscriptionAll" class="hidden-xs">Feed</th>
                        <th>Title</th>
                        <th class="hidden-xs">Publish Date</th>
                        <th>Read</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: items">
                    <tr data-bind="css: { active: !isRead(), bold: !isRead() }">
                        <td data-bind="html: feedTitle, visible: $parent.isSubscriptionAll" class="hidden-xs"></td>
                        <td><a data-bind="html: title, attr: { href: fullUrl, target: '_blank' }, click: markAsRead"></a></td>
                        <td data-bind="html: publishDate" class="hidden-xs"></td>
                        <td class="text-center">
                            <button data-bind="click: toggleIsRead, enable: toggleIsRead.isEnabled" type="button" class="btn btn-default btn-xs" title="Toggle Read flag">
                                <span data-bind="css: { 'glyphicon-check': isRead, 'glyphicon-unchecked': !isRead() }" class="glyphicon" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- alerts -->
    <div style="display: none;" data-bind="visible: true, foreach: alerts" class="feed-alert-container">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button data-bind="click: $parent.removeAlert" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span data-bind="html: message"></span>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript" src="~/Scripts/require.js" data-main="@Url.Content("~/Reader.Scripts/main")"></script>

    <script type="text/javascript">
        define("readerData", [], function() {
            return @Html.Raw(JsonConvert.SerializeObject(Model, new JsonSerializerSettings() { ContractResolver = new CamelCasePropertyNamesContractResolver() }));
        });
    </script>
}
