@using Reader.ViewModels
@using Newtonsoft.Json;
@using Newtonsoft.Json.Serialization;
@model ReaderViewModel

@{
    ViewBag.Title = "Subscriptions";
}

<style>
    .feed-image-container {
        display: inline-block;
        width: 16px;
        height: 16px;
    }

        .feed-image-container img {
            width: 16px;
        }

    .feed-title {
        display: inline-block;
        width: calc(100% - 48px);
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        vertical-align: middle;
    }

    .feed-toolbar {
        margin: 5px 20px 0;
    }

    .feed-add-form {
        margin-bottom: 30px;
    }

    .feed-add-form .feed-add-url {
        width: calc(100% - 45px);
        /* override responsive bootstrap for certain breakpoints */
        display: inline-block;
        max-width: none;
    }

    .feed-alert-container {
        position: fixed;
        top: 80px;
        right: 20px;
        z-index: 100;
        width: 320px;
    }

    th {
        white-space: nowrap;
    }

    tr.bold {
        font-weight: bold;
    }
</style>

<div id="readerApp">
    <h4>
        <button data-bind="click: toggleEditMode" type="button" class=" btn btn-default">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </button>
        Subscriptions
    </h4>

    <div class="row">
        <div class="col-md-3">
            <!-- subscriptions -->
            <ul data-bind="foreach: subscriptions" class="list-group">
                <li data-bind="click: $parent.selectedSubscription, css: { active: $data === $parent.selectedSubscription() }" class="list-group-item">
                    <span data-bind="text: unreadQuantity, visible: unreadQuantity" class="badge"></span>
                    <span class="feed-image-container">
                        <img data-bind="attr: { src: imageUrl }" />
                    </span>
                    <span data-bind="html: title" class="feed-title"></span>

                    <div style="display: none;" data-bind="visible: true, if: $root.editMode() && subscriptionId" class="feed-toolbar">
                        <button data-bind="click: refresh, enable: refresh.isEnabled" type="button" class="btn btn-default btn-xs" title="Refresh">
                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        </button>
                        <button data-bind="click: updateItemsAsRead, enable: updateItemsAsRead.isEnabled" type="button" class="btn btn-default btn-xs" title="Update all items as read">
                            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                        </button>
                        <button data-bind="click: loadItems, enable: loadItems.isEnabled" type="button" class="btn btn-default btn-xs" title="Load more items">
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        </button>
                        <button data-bind="click: remove, enable: remove.isEnabled" type="button" class="btn btn-danger btn-xs" title="Delete feed">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                        </button>
                    </div>
                </li>
            </ul>

            <!-- add feed -->
            <div class="form-inline feed-add-form">
                <input data-bind="value: newFeedUrl, enable: addSubscription.isEnabled" type="text" class="form-control feed-add-url" placeholder="New feed URL" />
                <button data-bind="click: addSubscription, enable: addSubscription.isEnabled" type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </div>
        </div>

        <div class="col-md-9">
            <!-- subscription items -->
            <table data-bind="with: selectedSubscription" class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th data-bind="visible: showFeedTitle" class="hidden-xs">Feed</th>
                        <th>Title</th>
                        <th class="hidden-xs">Publish Date</th>
                        <th>Read</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: items">
                    <tr data-bind="css: { active: !isRead(), bold: !isRead() }">
                        <td data-bind="html: feedTitle, visible: $parent.showFeedTitle" class="hidden-xs"></td>
                        <td><a data-bind="html: title, attr: { href: fullUrl, target: '_blank' }, click: markAsRead"></a></td>
                        <td data-bind="html: publishDate" class="hidden-xs"></td>
                        <td class="text-center">
                            <button data-bind="click: toggleIsRead, enable: toggleIsRead.isEnabled" type="button" class="btn btn-default btn-xs" title="Toggle Read flag">
                                <span data-bind="css: { 'glyphicon-check': isRead, 'glyphicon-unchecked': !isRead() }" class="glyphicon" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- alerts -->
    <div style="display: none;" data-bind="visible: true, foreach: alerts" class="feed-alert-container">
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button data-bind="click: $parent.removeAlert" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span data-bind="html: message"></span>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript" src="~/Scripts/require.js" data-main="@Url.Content("~/Reader.Scripts/main")"></script>

    <script type="text/javascript">
        define("readerData", [], function() {
            return @Html.Raw(JsonConvert.SerializeObject(Model, new JsonSerializerSettings() { ContractResolver = new CamelCasePropertyNamesContractResolver() }));
        });
    </script>
}
